version: '3.8'

services:
  execution:
    volumes:
      # Mount our custom ExEx binary
      - /home/sam-sullivan/reth-exex-liquidity/target/release/exex:/usr/local/bin/reth-exex:ro
    entrypoint:
      - docker-entrypoint.sh
      - /usr/local/bin/reth-exex
      - node
      - --datadir
      - /var/lib/reth
      - --metrics
      - 0.0.0.0:6060
      - --port
      - ${EL_P2P_PORT:-30303}
      - --discovery.port
      - ${EL_P2P_PORT:-30303}
      - --enable-discv5-discovery
      - --discovery.v5.port
      - ${EL_P2P_PORT_2:-30304}
      - --nat
      - publicip
      - --http
      - --http.addr
      - 0.0.0.0
      - --http.port
      - ${EL_RPC_PORT:-8545}
      - --http.api
      - all
      - --http.corsdomain=*
      - --ws
      - --ws.addr
      - 0.0.0.0
      - --ws.port
      - ${EL_WS_PORT:-8546}
      - --ws.origins=*
      - --authrpc.addr
      - 0.0.0.0
      - --authrpc.port
      - ${EE_PORT:-8551}
      - --authrpc.jwtsecret
      - /var/lib/reth/ee-secret/jwtsecret
      - --max-outbound-peers
      - ${EL_MAX_PEER_COUNT:-100}
